<div class="widget challenge">
    <h3 class="title">挑战2018</h3>
    <div>
        <ul>
            <li>
                <input type="checkbox" checked disabled> <span>写10000行JavaScript代码</span>
            </li>
            <li>
                <input type="checkbox" disabled> <span>学习研究vue源码</span>
            </li>
            <li>
                <input type="checkbox" disabled> <span>写5000行Java代码</span>
            </li>
            <li>
                <input type="checkbox" disabled> <span>leetcode上刷100道题</span>
            </li>
            <li>
                <input type="checkbox" disabled> <span>上线一款Android版app</span>
            </li>
        </ul>
    </div>
</div>